
*{
    font: normal  13px 'Roboto', Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    color: #555;
    margin: 0;
}
.body{
    width: 100%;
    margin: auto;
    background-color: white;

}
/* contact start */

#head_contancts{
   display: flex;
   flex-direction: row-reverse;
   margin: auto;
   height: 1em;
   /* padding-right: 1.9rem; */
   /* background-color: red; */
   width: 90%;
   margin: auto;
}
 ul{
    /* background-color: red; */
    display: inline-flex;
    gap: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.os{
    height: 15px;
    width: 15px;
}
.sells{
    list-style-type: none;
    color: #757575;
}
/* contact end */
/* searchbox start */
#logo:hover{
  cursor: pointer;
}
#seach{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* border: solid black; */
    height: 7vh;
    box-sizing: border-box;
    overflow: hidden;
    /* flex-direction: row; */
}
#seach form{
    width: 80%;
    height: 100%;
}
#seachBox{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(178, 228, 236);
    border-radius: 4px 0 0 4px;
    font-size: 1em;
    background-color: #e5f4f6;
    background-image: url('https://img.icons8.com/tapes/40/000000/experimental-search-tapes.png');
    background-size: 6% 80%;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding-left: 4em;
}
#seachBox:focus{
    outline: none;
    background-color: white;
    border: #dbf0f2 solid 1px;
}
#head_searchLine{
   display: flex;
   width: 100%;
   height: 100%;
   margin: auto;
   align-items: center;
   /* padding-left: 1em; */
   /* margin-left: auto; */
    /* gap: 0px; */
}
#logo{

    width: 15%;
    height: 8vh;
    /* border: 2px solid red; */
    /* border: solid; */

}
#logo .image{
    width: 90%;
    height: 100%;
}
#logo .image img{
    width: 100%;
    height: 100%;
}
#searhBtn{
    color: #e5f4f6;
    margin: auto;
    width: 20%;
    height: 100%;
    background: -webkit-linear-gradient(0deg,#ff934b 0%,#ff5e62 100%);
    border:2px solid #ff934b;
    border-radius: 0 4px 4px 0;
}
#searhBtn:hover{
    cursor: pointer;
}
/* seachbox end */
/* head options strat */
#head_options{
    width: 28%;
    height: 6vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    /* padding-top: 1rem;
    padding-right: 7em;
     gap: 2.5em; */

}
#Location{
   display: flex;
}
#Location:hover{
    cursor: pointer;
}

#loc_icon{
    padding-top: 1em;
    padding-left: 0.5em;
}
#loc_a{
    text-decoration: none;
    color: #36bccd;
}
#loc_a:hover{
    text-decoration: underline;
}



#notification{
 position: relative;
}
#dropdown_not{
position: absolute;
left: 0;
top: calc(100% +.25rem);
background-color: rgb(255, 255, 255);
padding: .75rem;
box-shadow: 0 2px 5px 0 black;
display: none;
opacity: 0;
visibility: hidden;
}

#not_icon:hover{
   cursor: pointer;
}
#fav_icon:hover{
    cursor: pointer;
}
#cart_icon:hover{
   cursor: pointer;
}
#signIn{
    text-decoration: none;
    color: black;
}
#signIn:hover{
text-decoration: underline;
}



/* head options end */
.navUpper{
    display: flex;
    align-items: center;
    background:#24a3b5;
    width: 100%;
    height:6vh;
     /* padding-top: 0.5em;
     padding-bottom: 0.5em; */
     margin-top: 1em;
   
    /* z-index: 9; */
}
.nav-links li a:hover{
  height: 100%;
  background-color: white;
  color: #24a3b5;
  transition: all 0.5s ease;

}
.wrapper .nav-links{
    display: inline-flex;

}
 .navUpper .wrapper{
    max-width: 100%;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}
.nav_li{
    text-decoration: none;
    white-space: nowrap;
    font-size: .9em;
    font-weight: 500;
    color: white;
    /* margin: 0 1em; */
    padding: 1.15em 1em;
    
    /* padding: 20px; */
}
#madeindia{
    height: 2.5em;
}
.dropdown{
position: relative;
}
.dropdownMenu{
    display: flex;
    gap: 70px;
    position: absolute;
    background-color: white;
    z-index: 10;
    left: 0;
    top: calc(100% + 1em);
    padding: .75em;
    border-radius: .25em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease-in-out, transform 150ms ease-in-out;
}

.htag{
    font-size: .9em;
}

.dropdown > .nav_li:hover + .dropdownMenu{
opacity: 1;
transform: translateY(0);
pointer-events: auto;
}
.dropdownMenu:hover{
    opacity: 1;
    pointer-events: all;
}
.htag{
    text-decoration: none;
    color: black;
}
.drop_text{
    text-decoration: none;
    font-size: .9em;
    color: #757575;
    margin: .1em 1em;
}
.Fnav{
    border: solid;
}
.LowNav{
    /* margin-top:55px; */
    width: 100%;
    margin: auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.wrap{
    /* border: solid; */
    margin:.5em auto;
    text-align: center;
    display: flex;
    align-items: center;
    width: 80%;
    /* height:28px ; */
}
.Lvan_opt{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.div_li{
    margin: 0 1em;
    text-decoration: none;
    font-size: .9em;
    color: rgb(94, 94, 94);
}
.div_li:hover{
    color: #24a3b5;
}

body {
    background-color: rgb(239, 247, 250);
}

/*======================================================== colors classes ========================================================*/
.blue {
    color: rgb(69, 149, 230);
}

.grey {
    color: rgb(89, 84, 84);
}

/* ========================================================tag selectors======================================================== */
span {
    margin: 3px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    width: 100%;
}

/*======================================================= checkout section=====================================================*/

.desc {
    margin: auto;
    /* margin:0%; */
    background-color: white;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin-bottom: 10px;

}

/* .container {
    background-color: rgb(173, 224, 243);

} */

.card-wrapper {
    margin: auto
}

.prdct-img>img {
    width: 300px;
    height: 300px;
    /* position: relative; */

    /* margin: auto; */
}

.prdct-img {
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color: brown; */
}

.prdct-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 100%; */
    /* margin: 0%; */
    padding: 0%;
}


.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 10px;
    width: 87%;
    margin: 10px;
    padding: 15px;
}



.def_flex {
    display: flex;
    justify-content: space-between;
    width: 40%;
    flex-wrap: wrap;
}

.sell-info {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infowrapper {
    /* width; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:flex-start; */
    /* margin: auto; */
    /* background-color: rgb(104, 66, 66); */
}



/* =======================================product information section ============================================================================  */
.card-wrapper>div {
    padding-top: 2em;
}

.prdct-info {
    line-height: 25px;
    height: auto;
}





/* ========================================================add to cart and buy button======================================================== */
.cart-buy {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.cartbtn button {
    padding: 2px;
    color: rgb(251, 118, 11);
    border: 1px solid rgb(251, 118, 11);
    background-color: white;
}

.buybtn {
    height: 40px;
    width: 150px;
}

.buybtn button {
    border: none;
}

.offers {
    color: rgb(104, 101, 101);
}

.price {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

/*==============================================pincodesection========================================================*/
.pinsec {
    display: flex;
    width: 60%;
    justify-content: space-between;

}
#pincheck:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#pincheck {
    background-color: white;
    padding: 8px;
    border: 1px solid rgb(132, 173, 234);
    color: rgb(132, 173, 234);
    width: 100px;
    font-weight: bold;
}

#pininput {
    padding: 8px;
    border: 1px solid grey;
    font-weight: bolder;
    /* font-size:20; */
}

#delivery-option {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}


/* details section ======================== */


/* ========================================================description section ======================================================== */
.desc-wrapper {
    /* height: 300px; */
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    color: rgb(83, 80, 80);

}

.desc-op {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 10px;
}

#description {
    width: 100%;
    height: auto;
}

/* .descpara{

} */

.active:hover {
    color: rgb(132, 173, 234);
}

#prdct-desc:visited {
    color: rgb(255, 174, 0);
}

.productsection {
    background-color: white;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

.mainsection {
    width: 95%;
    margin: auto;
}

.bold {
    font-weight: 200;
}

.details {
    margin: 20px 0px 20px 0px;
}
/* 
.pinsec {
    width: 70%;
} */

#delivery-option {
    width: 90%;
}
#description{
    line-height: 25px;
    /* word-wrap: normal; */
    /* width: 60%; */
}
.buybtn:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.prdct-info{
    line-height: 25px;
    justify-content: space-evenly;
}
.prdct-info div{ 
 margin: 3px 0px 3px 0px;
}
.prdct-info h1{
font-size: 1em;
}


.orange {
    background-image: -webkit-linear-gradient(0deg, #ff934b 0%, #ff5e62 100%);
    text-decoration: none;
    color: white;
}
.btn {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    outline: none;
    width: 100%;
    padding: 4px 3px;
}
.cart-buy{
    margin: 5px 2px 8px 2px;
    /* width: 80%; */
    /* display: flex; */
    /* justify-content: space-around; */
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}