
*{
    font: normal 400 14px 'Roboto', Arial, Helvetica, sans-serif;
margin: auto;
padding: auto;

}
/* contact start */
#head_contancts{
   display: flex;
   flex-direction: row-reverse;
   margin: auto;
   height: 1em;
   padding-right: 1.9rem;
}
ul{
    display: inline-flex;
    gap: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.os{
    height: 15px;
    width: 15px;
}
.sells{
    list-style-type: none;
    color: #757575;
}
/* contact end */
/* searchbox start */
#logo:hover{
  cursor: pointer;
}
#seachBox{
    width: 40em;
    box-sizing: border-box;
    border: 2px solid #e5f4f6;
    border-radius: 4px;
    font-size: 16px;
    background-color: #e5f4f6;
    background-image: url('https://img.icons8.com/tapes/40/000000/experimental-search-tapes.png');
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#seachBox:focus{
    background-color: white;
    border: #dbf0f2 solid 1px;
}
#head_searchLine{
   display: flex;
   /* padding-left: 1em; */
   /* margin-left: auto; */
    gap: 0px;
}
#logo{
    /* border: solid; */
}
#seach{
    display: flex;
    flex-direction: row;
}
#searhBtn{
    color: #e5f4f6;
    width: 10em;
    height: 3.5em;
    background: -webkit-linear-gradient(0deg,#ff934b 0%,#ff5e62 100%);
    border:#ccc;
    border-radius: 4%;
}
#searhBtn:hover{
    cursor: pointer;
}
/* seachbox end */
/* head options strat */
#head_options{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-right: 7em;
     gap: 2.5em;

}
#Location{
   display: flex;
}
#Location:hover{
    cursor: pointer;
}

#loc_icon{
    padding-top: 1em;
    padding-left: 0.5em;
}
#loc_a{
    text-decoration: none;
    color: #36bccd;
}
#loc_a:hover{
    text-decoration: underline;
}



#notification{
 position: relative;
}
#dropdown_not{
position: absolute;
left: 0;
top: calc(100% +.25rem);
background-color: rgb(255, 255, 255);
padding: .75rem;
box-shadow: 0 2px 5px 0 black;
display: none;
opacity: 0;
visibility: hidden;
}

#not_icon:hover{
   cursor: pointer;
}
#fav_icon:hover{
    cursor: pointer;
}
#cart_icon:hover{
   cursor: pointer;
}
#signIn{
    text-decoration: none;
    color: black;
}
#signIn:hover{
text-decoration: underline;
}



/* head options end */
.navUpper{
    display: flex;
    align-items: center;
    background:#24a3b5;
    position: fixed;
    width: 100%;
    height:40px;
     /* padding-top: 0.5em;
     padding-bottom: 0.5em; */
     margin-top: 1em;
    z-index: 999;
}
.nav-links li a:hover{
  background-color: white;
  color: #24a3b5;
  transition: all 0.5s ease;

}
.wrapper .nav-links{
    display: inline-flex;
}
 .navUpper .wrapper{
    max-width: 100%;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
}
.nav-links{
    list-style-type: none;
}
.nav_li{
    text-decoration: none;
    color: white;
    padding: 20px;
}
#madeindia{
    height: 2.5em;
}
.dropdown{
position: relative;
}
.dropdownMenu{
    display: flex;
    gap: 70px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% + 1em);
    padding: .75em;
    border-radius: .25em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .nav_li:hover + .dropdownMenu{
opacity: 1;
transform: translateY(0);
pointer-events: auto;
}
.dropdownMenu:hover{
    opacity: 1;
    pointer-events: all;
}
.htag{
    text-decoration: none;
    color: black;
}
.drop_text{
    text-decoration: none;
    color: #757575;
    
}
.Fnav{
    border: solid;
}
.LowNav{
    margin-top:55px;
    display: flex;
}
.wrap{
    border: solid;
    display: flex;
    align-items: center;
    /* width: 100%; */
}
.Lvan_opt{
    list-style-type: none;
}
.div_li{
    text-decoration: none;
    color: black;
}
.div_li:hover{
    color: #24a3b5;
}