*{
    font-family:Roboto, Arial, Helvetica, sans-serif;
}
#main{
    display: flex;
    padding: 1em;
    gap: 2em;
}
#options{
    /* border: 2px solid red; */
    width: 20%;
    padding: var(--padding);
    box-shadow:var(--shadow);
    border-radius: var(--border-radious);
}
#products{
    /* border: 2px solid blue; */
    width: 75%;
    padding: var(--padding);
    box-shadow:var(--shadow);
    border-radius: var(--border-radious);

}
:root {
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --padding: 0.7em;
    --border-radious:1%;
  }

  /* check box */
  input[type="checkbox"]{
    position: relative;
    /* display: inline-block; */
    cursor:pointer;
    border:none;
  }
  input[type="checkbox"]:hover{
 background-color:  red;
  }
  label:hover{
    cursor:pointer; 
  }
  label{
    font-size: 0.8em;
  }
  /* .name .discounts :hover{
    outline: blue;
    background-color: red;
  } */
  li{
    list-style-type: none;
}
.h3{
    display: flex;
    justify-content: space-between;
}
a{
    font-weight: normal;
    font-size: 0.7em;
}
/* main div top  */
  #sorting{
    display: flex;
    justify-content: space-between;
    font-size:0.8em; 
   }

    /* /* main div style  */
    #menu{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap:0.3em;
      padding: 1em;
    } 
    /* card design  */
    .card > img{
      width: 100%;
    }
    .card {
      padding: 0.5em;
      box-shadow:var(--shadow);
    }
    .card h3, .card p{
      margin: 0.5em;
    }
    .card:hover{
      border: 1px solid cyan;
      
    }
    .card>div{
      display: flex;
    }
    .card h3{
      margin: 0.2em;
    }
    .original-price{
      font-weight:normal;
      text-decoration: line-through;
    }
    .parcentage{
      color: rgb(0, 145, 255);
    }
    summary{
      font-size: 0.8em;
      cursor: pointer;
    }
    

  